# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proiect_licenta.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\papy_\Desktop\An3Sem2\Licenta\Proiect_licenta\Proiect_licenta\.idea\.idea.Proiect_licenta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
